:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  padding-left: 5%;
}

body {
  margin: 0 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0 0 0 0;
}

#app {
  /* max-width: 1280px; */
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #494949;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #a6a6a7;
  background-color: #bfbfbf;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/***********************************************************/
.overlay {
  width: 25%;
  height: 75%;
  max-height: 100%;
  position: absolute;
  top: 10%;
  /* left: 1%; */
  background: rgba(129, 129, 129, 0.2);
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 5px;
  z-index: 4; /* Make sure this is higher than the canvas */
  pointer-events: auto;
}

.toggle-overlay {
  position: absolute;
  background: #0056b2;
  top: 10%;
  left: 25.5%;
  padding: 4px;
  width: 30px;
  cursor: pointer;
  z-index: 25;
  transition: transform 0.3s ease, background 0.3s ease; /* Smooth animation */
}

.toggle-overlay.translated {
  left: 0.5%;
  background: #006cdf;
}

.overlay-field-course-list {
  display: flex;
  width: 20vw;
  height: 4vh;
  flex-direction: column;
  /* gap: 10px; */
  /* margin-top: 10px; */
}

.overlay-content {
  display: flex;
  /* background: rgba(129, 129, 129, 0.2); */
  flex-direction: column;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  z-index: 4; /* Make sure this is higher than the canvas */
  pointer-events: auto;
  margin: 0;
}

#overlay-title {
  text-wrap: normal;
}

.existing-courses-console {
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  border-radius: 8px;
}

.controls-console {
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  border-radius: 8px;
}

.loading-icon {
  width: 2vw;
  visibility: hidden;
}

.loading-icon:hover {
  visibility: visible;
  opacity: 1.0;
}

.stats-console {
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  border-radius: 8px;
}

.stats-title {
  display: flex;
}

.overlay-controls-toggles {
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  border-radius: 8px;
  padding: 10px 0;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}

.gpx-controls {
  position: relative;
  /* top: 10px; */
  /* right: 10px; */
  width: 40%;
  background: rgba(61, 61, 61, 0.5);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 3%;
}

.toggle-btn {
  position: relative;
  width: 60px;
  height: 34px;
  display: inline-block; /* Ensures it's treated like a block-level element for alignment */
  /* padding: 1% 1%; */
  /* font-size: 24px; */
  /* width: 12%; */
  /* text-align: center; */
  /* line-height: 1.5; Ensures proper vertical alignment */
  /* vertical-align: middle; Helps with inline alignment */
  
  cursor: pointer; /* Adds a pointer cursor on hover */ 
}

.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #484848;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  text-align: center;
  font-size: 16pt;
  /* vertical-align: middle; */
}

.slider.round:before {
  border-radius: 50%;
  /* border: 1px solid #222222; */
  opacity: 0.4;
}

.overlay-field-uploadgpx {
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  border-radius: 8px;
}

.gpx-controls button {
  padding: 5px 10px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  width: 60%;
  border-radius: 3px;
}

.gpx-controls button:hover {
  background: #a5a9ac;
}

#bottom-overlay {
  position: absolute;
  bottom: 0;
  width: 70%;
  top: 80%;
  left: 25%;
  bottom: 90%;
  background: rgba(129, 129, 129, 0.2);
  border-radius: 8px;
  /* padding: 10px; */
  padding-top: 1%;
  padding-bottom: 6%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  z-index: 20;
}

#course-slider {
  width: 100%;
  margin: 1rem 0;
}

#info-display {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 80%; */
  color: white;
  font-family: Arial, sans-serif;
}

.elevationfactor {
  display:flex;
  text-wrap:nowrap;
  align-items: center;
  gap: 3%;
  margin: 0 0 0 0;
}

.slidercontainer {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 85%;
  /* height: 100%; */
}

.scalingslider {
  width: 100%;
  height: 15%;
}

.slider-controls-container {
  display: inline;
}

.info-container-general {
  position: relative;
  overflow: visible;
  /* display: inline-block; */
  width: 7%;
  height: 7%;
  cursor: pointer;
  font-size: 16px;
}

.info-container-devnotes {
  position: relative;
  width: 30%;
  /* display: inline-block; */
  cursor: pointer;
  font-size: 16px;
}

.info-container-scaling {
  position: relative;
  /* display: inline-block; */
  width: 7%;
  cursor: pointer;
  font-size: 16px;
}

/* Style the info bubble */
.info-bubble {
  visibility: hidden;
  word-wrap: normal;
  white-space: normal; /* text wrap doesn't work without this*/
  overflow: visible;
  width: 40cap; /* Adjust width as needed */
  max-height: fit-content;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 8px;

  /* Position the bubble */
  position: fixed;
  left: 10%;
  bottom: 80%; /* Adjust position above the icon */
  /* left: 10%; */
  /* transform: translateX(-10%); */
  /* z-index: 20; */

  /* Arrow pointing down */
  opacity: 0; /* Invisible by default */
  transition: opacity 0.3s;
}

/* Tooltip arrow */
/* .info-bubble::after { */
  /* content: ''; */
  /* position: absolute; */
  /* top: 100%; Bottom of the bubble */
  /* left: 10%; */
  /* transform: translateX(-100%); */
  /* border-width: 5px; */
  /* border-style: solid; */
  /* border-color: #333 transparent transparent transparent; */
/* } */

/* Show the bubble on hover */
.info-container-general:hover .info-bubble {
  visibility: visible;
  text-wrap: normal;
  overflow: visible;
  z-index: 20;
  opacity: 1.0;
}

.info-container-scaling:hover .info-bubble {
  visibility: visible;
  text-wrap: normal;
  opacity: 1.0;
}

/* .info-container-devnotes:hover .info-bubble {
  visibility: visible;
  text-wrap: normal;
  opacity: 0.8;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #b5b5b5;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1100px) {
  .overlay {
    width: 40%;
    height: 75%;
    max-height: 100%;
    position: absolute;
    top: 10%;
    /* left: 1%; */
    background: rgba(129, 129, 129, 0.2);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
    z-index: 4; /* Make sure this is higher than the canvas */
    pointer-events: auto;
  }
}

@media (max-width: 700px) {
  .overlay {
    width: 88%;
    position: absolute;
    top: 60%;
    margin: 0 auto;
    max-width: 100%;
    height: 34%;
    /* left: 1%; */
    background: rgba(129, 129, 129, 0.2);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
    z-index: 4; /* Make sure this is higher than the canvas */
    pointer-events: auto;
    overflow-x: hidden;  
    overflow-y: scroll;
  }

  .toggle-overlay {
    top: 60%;
    left: 90.5%;
  }

  .toggle-overlay.translated {
    top: 10%;
    left: 0.5%;
  }

  .overlay-field-course-list {
    width: 80vw;
  }

  .loading-icon {
    width: 16vw;
    visibility: hidden;
  }

  .slidercontainer {
    width: 95%;
  }

  .info-bubble {
    left: 2%;
    max-width: 90%;
    bottom: 80%;
  }
}
